body {
  background-color: #222831;
  font-family: 'Montserrat', sans-serif;
  color: gainsboro;
  padding-top: .25rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background-color: #414141;
}

body::-webkit-scrollbar-thumb {
  background-color: #892cdc;
  border-radius: 20px;
}

.hero-card {
  height: fit-content;
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-card img {
  width: 6rem;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.hero-card img.hover:hover {
  transform: scale(1.3);
  cursor: pointer;
  z-index: 10;
}

.str:hover {
  box-shadow: 0px 0px 20px #EF4444;
}

.agi:hover {
  box-shadow: 0px 0px 20px #10B981;
}

.int:hover {
  box-shadow: 0px 0px 20px #3B82F6;
}

.heading, .sub-heading {
  text-align: center;
}

.heading {
  text-transform: uppercase;
}

.heading {
  color: silver;
  letter-spacing: .5rem;
}

.sub_heading {
  color: white;
}

.desc {
  color: gray;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  text-align: left;
}

.hero-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: .5rem;
}

.attr {
  text-transform: uppercase;
  text-align: center;
  background-color: #222831;
  padding: 0 .75rem;
}


.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.filter select, .filter button {
  height: 2rem;
  background-color: #414141;
  color: white;
  margin-left: 1rem;
  outline: none;
  padding: 0 .25rem;
}

.filter button {
  padding: .5rem 1rem;
  border: .1rem solid silver;
  cursor: pointer;
}

.filter button:active {
  transform: scale(.95);
}

option, select {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
  .filter {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .filter select, .filter button {
    margin: 0 0 .5rem 0;
    width: 100%;
  }

  .filter button:active {
    transform: scale(1);
  }

  .hero-container {
    justify-content: space-around;
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .25rem;
}

.notfound-container {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  width: "100vw";
  height: "100vh"
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-container img {
  border-bottom: .25rem solid;
  padding: .5rem .5rem 2rem .5rem;
}

.hero-attribute {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .5rem
}

.border-attr {
  margin-top: -1rem;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 95vh;
}